@import "tailwindcss";

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, #0f172a 0%, #312e81 60%, #a21caf 100%);
  background-attachment: fixed;
  color: #ffffff;
  box-shadow: 0 0 80px 0 #0f172a inset;
  padding: 18px 0 18px 0;
}

#__next {
  height: 100%;
  width: 100%;
}
